.card {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 260px;
	overflow: hidden;
	&:hover &__body {
		height: 100%;
	}
	&:hover &__text {
		visibility: visible;
	}
	&__body {
		padding: 28px 20px;
		background: #2d3653;
		opacity: 0.6;
		height: 80px;
		transition: height 0.3s ease;
		// &:hover {
		// 	height: 100%;
		// }
	}
	&__title {
		margin-bottom: 20px;
		font-size: 24px;
		line-height: 100%;
		color: #ffffff;
		white-space: pre-wrap;
	}
	&__text {
		font-weight: 400;
		font-size: 17px;
		line-height: 140%;
		color: #ffffff;
		visibility: hidden;
		transition: visibility 0.3s ease;
	}
}
