.banner {
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	row-gap: 60px;
	background: url("/images/bg-1250x600.jpg") no-repeat bottom center;
	@media (max-width: 800px) {
		height: 400px;
	}
	@media (max-width: 600px) {
		height: 330px;
		row-gap: 40px;
	}
	@media (max-width: 480px) {
		height: 300px;
		row-gap: 20px;
	}
	&__text {
		font-size: 56px;
		line-height: 100%;
		color: #444444;
		white-space: pre-wrap;
		margin-left: 70px;
		@media (max-width: 800px) {
			font-size: 46px;
			margin-left: 20px;
		}
		@media (max-width: 600px) {
			font-size: 36px;
			margin-left: 10px;
		}
		@media (max-width: 480px) {
			font-size: 28px;
			margin-left: 5px;
		}
	}
	&__button {
		margin-left: 70px;
		padding: 18px 28px;
		background: #b01736;
		border-radius: 8px;
		transition: background 0.3s ease;
		font-size: 18px;
		line-height: 20px;
		color: #ffffff;
		border: none;
		@media (max-width: 800px) {
			margin-left: 20px;
		}
		@media (max-width: 600px) {
			margin-left: 10px;
			padding: 10px 30px;
			font-size: 16px;
			line-height: 19px;
		}
		&:hover {
			background: #d53152;
		}
	}
}
