.banner {
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	row-gap: 60px;
	background-image: url("/images/bg-1250x600.jpg");
	&__cta {
		display: flex;
		flex-direction: column;
		row-gap: 60px;
		max-width: 709px;
		align-items: flex-start;
		margin-left: 70px;
	}
	&__text {
		font-size: 56px;
		line-height: 100%;
		color: #444444;
		white-space: pre-wrap;
		margin-left: 70px;
	}
	&__button {
		margin-left: 70px;
		padding: 18px 28px;
		background: #b01736;
		border-radius: 8px;
		transition: background 0.3s ease;
		font-size: 18px;
		line-height: 20px;
		color: #ffffff;
		border: none;
		&:hover {
			background: #d53152;
		}
	}
}
