.map {
	margin-bottom: 100px;
	position: relative;
	display: flex;
	flex-direction: column;
	@media (max-width: 700px) {
			margin-bottom: -50px;
		}
	@media (max-width: 600px) {
			margin-bottom: -100px;
		}
	@media (max-width: 400px) {
			margin-bottom: -200px;
		}

	&__header {
		padding: 28px 70px;
		background: #ffffff;
		box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.06);
		display: flex;
		justify-content: space-between;
		overflow-x: auto;
		z-index: 5;

		@media (max-width: 1100px) {
			padding: 18px 30px;
			column-gap: 20px;
		}
		@media (max-width: 700px) {
			padding: 18px 5px;
			column-gap: 20px;
		}
		@media (max-width: 500px) {
			padding: 18px 5px;
			column-gap: 20px;
			flex-direction: column;
			row-gap: 20px;
		}
	}
	&__dropdown {
		font-size: 24px;
		line-height: 100%;
		color: #444444;
		display: flex;
		column-gap: 12px;
		align-items: center;
		cursor: pointer;
		@media (max-width: 1100px) {
			font-size: 20px;
			flex: 1 0 auto;
		}
	}
	&__links {
		list-style: none;
		display: flex;
		column-gap: 30px;
		transition: all 0.3s ease;
		@media (max-width: 1100px) {
			column-gap: 15px;
		}
		&_blur {
			opacity: 0.1;
		}
	}
	&__link {
		font-size: 18px;
		line-height: 20px;
		color: #444444;
		cursor: pointer;
		transition: color 0.3s ease;
		white-space: nowrap;
		@media (max-width: 700px) {
			font-size: 14px;
			line-height: 16px;
		}
		&:hover {
			color: #a30c33;
		}
		&_active {
			position: relative;
			color: #a30c33;
			&::after {
				content: "";
				position: absolute;
				bottom: -28px;
				left: 0;
				height: 1px;
				width: 100%;
				display: block;
				background: #a30c33;
				@media (max-width: 1100px) {
					bottom: -18px;
				}
			}
		}
	}
	&__content {
		padding: 90px 30px 0;
		overflow-x: auto;
		position: relative;
		transition: all 0.3s ease;
		&_blur {
			opacity: 0.1;
		}
		@media (max-width: 700px) {
			top: -100px;
			left: -40px;
			width: 743px;
			align-self: stretch;
			transform: scale(0.9);
		}
		@media (max-width: 600px) {
			left: -80px;
			transform: scale(0.8);
		}
		@media (max-width: 480px) {
			left: -80px;
			width: 620px;
		}
		@media (max-width: 400px) {
			top: -160px;
			left: -100px;
			width: 550px;
			transform: scale(0.7);
		}
	}
	&__cities {
		position: absolute;
		top: 0;
		left: 0;
		font-size: 14px;
		line-height: 100%;
		color: #444444;
	}
}

.cities {
	&__city {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		row-gap: 2px;
		position: absolute;
		line-height: 100%;
		font-size: 12px;
		&_dot {
			display: inline-block;
			width: 8px;
			height: 8px;
			background: #444444;
			border-radius: 50%;
		}
		&_msk {
			top: 314px;
			left: 154px;
			font-size: 14px;
		}
		&_yaroslavl {
			top: 290px;
			left: 186px;
		}
		&_voronezh {
			top: 335px;
			left: 104px;
		}
		&_belgorod {
			top: 370px;
			left: 102px;
		}
		&_spb {
			top: 221px;
			left: 127px;
			width: 109px;
			font-size: 16px;
		}
		&_kaliningrad {
			top: 214px;
			left: 47px;
		}
		&_rostov {
			top: 410px;
			left: 70px;
			width: 88px;
			font-size: 14px;
		}
		&_volgograd {
			top: 450px;
			left: 115px;
		}
		&_krasnodar {
			top: 468px;
			left: 55px;
			font-size: 14px;
		}
		&_novgorod {
			top: 350px;
			left: 190px;
			width: 70px;
		}
		&_kazan {
			top: 390px;
			left: 265px;
		}
		&_ufa {
			top: 430px;
			left: 275px;
		}
		&_samara {
			top: 395px;
			left: 200px;
		}
		&_orenburg {
			top: 455px;
			left: 227px;
		}
		&_izhevsk {
			top: 380px;
			left: 340px;
		}
		&_perm {
			top: 390px;
			left: 395px;
			font-size: 14px;
		}
		&_surgut {
			top: 400px;
			left: 450px;
		}
		&_ekb {
			top: 420px;
			left: 315px;
		}
		&_chelyabinsk {
			top: 455px;
			left: 320px;
			font-size: 14px;
		}
		&_tyumen {
			top: 450px;
			left: 425px;
			font-size: 14px;
		}
		&_omsk {
			top: 565px;
			left: 480px;
			font-size: 14px;
		}
		&_nsk {
			top: 545px;
			left: 510px;
		}
		&_tomsk {
			top: 532px;
			left: 600px;
			font-size: 14px;
		}
		&_krasnoyarsk {
			top: 545px;
			left: 640px;
		}
		&_irkutsk {
			top: 580px;
			left: 700px;
			font-size: 14px;
		}
		&_habarovsk {
			top: 575px;
			left: 985px;
			font-size: 16px;
		}
		&_vladivostok {
			top: 662px;
			left: 968px;
			font-size: 16px;
		}
	}
}

.city-list {
	position: absolute;
	top: 80px;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 20px;
	padding: 30px 70px;
	background: #fff;
	display: flex;
	column-gap: 24px;
	box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.06);
	transition: all 0.3s ease-in-out;
	visibility: visible;
	opacity: 1;
	min-height: 200px;
	width: 1250px;
	@media (max-width: 1100px) {
		top: 56px;
		margin-top: 0px;
		padding: 20px 10px;
		width: 100%;
		min-height: 20px;
		flex-wrap: wrap;
		column-gap: 10px;
		row-gap: 15px;
	}
	&__column {
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
		row-gap: 12px;
		transition: all 0.3s ease;
		@media (max-width: 1100px) {
			max-height: 20px;
			overflow: hidden;
		}
		&_opened {
			@media (max-width: 1100px) {
				max-height: 200px;
				overflow: visible;
			}
		}
	}
	&__item {
		font-family: "Proxima Nova regular";
		font-size: 18px;
		line-height: 20px;
		color: #444444;
		font-weight: 400;
		display: flex;
		align-items: center;
		column-gap: 3px;
		&:first-child {
			font-weight: 600;
		}
		@media (max-width: 1100px) {
			font-size: 14px;
			line-height: 14px;
			&:first-child {
				cursor: pointer;
				&::after {
					content: "";
					display: inline-block;
					position: relative;
					top: -2px;
					width: 8px;
					height: 8px;
					background: url("../../assets/icons/cityListArrow.svg");
				}
			}
		}
	}
}
.hidden {
	transition: all 0.3s ease-in-out;
	visibility: hidden;
	opacity: 0;
	height: 0;
	padding: 0;
}
.rotate {
	transform: rotate(0deg);
}
.rotateTrue {
	transform: rotate(180deg);
}
