@font-face {
	font-family: 'Proxima Nova black';
	src: url('./assets/fonts/ProximaNovaCond-Black.eot');
	src: local('Proxima Nova Condensed Black'), local('ProximaNovaCond-Black'),
		url('./assets/fonts/ProximaNovaCond-Black.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/ProximaNovaCond-Black.woff2') format('woff2'),
		url('./assets/fonts/ProximaNovaCond-Black.woff') format('woff'),
		url('./assets/fonts/ProximaNovaCond-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova semibold';
	src: url('./assets/fonts/ProximaNovaCond-Semibold.eot');
	src: local('Proxima Nova Condensed Semibold'), local('ProximaNovaCond-Semibold'),
		url('./assets/fonts/ProximaNovaCond-Semibold.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/ProximaNovaCond-Semibold.woff2') format('woff2'),
		url('./assets/fonts/ProximaNovaCond-Semibold.woff') format('woff'),
		url('./assets/fonts/ProximaNovaCond-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova regular';
	src: url('./assets/fonts/ProximaNovaCond-Regular.eot');
	src: local('Proxima Nova Condensed Regular'), local('ProximaNovaCond-Regular'),
		url('./assets/fonts/ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/ProximaNovaCond-Regular.woff2') format('woff2'),
		url('./assets/fonts/ProximaNovaCond-Regular.woff') format('woff'),
		url('./assets/fonts/ProximaNovaCond-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Proxima Nova semibold';
	font-weight: 600;
}

#app {
	height: 100%;
}

html,
body {
	position: relative;
	height: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	background: #FFFFFF;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
}

.swiper-pagination-bullet {
	width: 20%;
	border-radius: 0;
	height: 6px;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	color: #e6e6e6;
	background: #e6e6e6;
	cursor: pointer;
	opacity: 1;
}

.swiper-pagination-bullet-active {
	width: 20%;
	border-radius: 0;
	height: 6px;
	color: #a30c33;
	background: #a30c33;
	cursor: crosshair;
}